<html>
  <body>
    <form action="/" method="POST" align="center">
        <h1><u>CVSS Score Calculator</u></h1>
      <p>Access Vector (Network/Adjacent/Local/Physical):
        <select name="access_vector">
          <option value="network">Network</option>
          <option value="adjacent">Adjacent</option>
          <option value="local">Local</option>
          <option value="physical">Physical</option>
        </select>
      </p>
      <p>Access Complexity (Low//Medium/High):
        <select name="Access Complexity">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
      </p>
    </form>
  </body>
</html>
      