<html>
    <head>
        <style>
          .input-field {
            margin-bottom: 20px;
          }
        </style>
    
    </head>

  <body>
    <form action="/" method="POST" align="center">
      <h1><u>CVSS Score Calculator</u></h1>
      <div class="input-field">
      <p>Access Vector (Network/Adjacent/Local/Physical):
        <select name="access_vector">
          <option value="network">Network</option>
          <option value="adjacent">Adjacent</option>
          <option value="local">Local</option>
          <option value="physical">Physical</option>
        </select>
      </p>
   
      <p>Access Complexity (Low//Medium/High):
        <select name="access_complexity">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
      </p>
   
      <p>authentication (None/Single/Multiple):
        <select name="authentication">
            <option value="None">None</option>
            <option value="Sinlge">Single</option>
            <option value="Multiple">Multiple</option>
        </select>
      </p>
     
      <p>confidentiality impact (None/Partial/Complete):
        <select name="confidentiality">
            <option value="None">None</option>
            <option value="Partial">Partial</option>
            <option value="Complete">Complete</option>
        </select>
      </p>
    
      <p>integrity impact (None/Partial/Complete):
        <select name="integrity">
            <option value="None">None</option>
            <option value="Partial">Partial</option>
            <option value="Complete">Complete</option>
        </select>
      </p> 
      <p>availability impact (None/Partial/Complete):
        <select name="availability impact">
            <option value="None">None</option>
            <option value="Partial">Partial</option>
            <option value="Complete">Complete</option>
        </select>
      </p> 
      </div>
      <button type="submit" value="submit"> SUBMIT </button>

    </form>
  </body>
</html>
      